[submodule "extra-addons/OCA/web"]
	path = extra-addons/OCA/web
	url = https://github.com/OCA/web.git
[submodule "extra-addons/OCA/maintenance"]
	path = extra-addons/OCA/maintenance
	url = https://github.com/OCA/maintenance.git
[submodule "extra-addons/OCA/project"]
	path = extra-addons/OCA/project
	url = https://github.com/OCA/project.git
[submodule "extra-addons/OCA/account-payment"]
	path = extra-addons/OCA/account-payment
	url = https://github.com/OCA/account-payment.git
	branch = 18.0
[submodule "extra-addons/OCA/reporting-engine"]
	path = extra-addons/OCA/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
[submodule "extra-addons/OCA/server-env"]
	path = extra-addons/OCA/server-env
	url = https://github.com/OCA/server-env.git
[submodule "extra-addons/OCA/field-service"]
	path = extra-addons/OCA/field-service
	url = https://github.com/OCA/field-service.git
[submodule "extra-addons/OCA/partner-contact"]
	path = extra-addons/OCA/partner-contact
	url = https://github.com/OCA/partner-contact.git
[submodule "extra-addons/OCA/hr"]
	path = extra-addons/OCA/hr
	url = https://github.com/OCA/hr.git
[submodule "extra-addons/OCA/helpdesk"]
	path = extra-addons/OCA/helpdesk
	url = https://github.com/OCA/helpdesk.git
[submodule "extra-addons/OCA/agreement"]
	path = extra-addons/OCA/agreement
	url = https://github.com/OCA/agreement.git
[submodule "extra-addons/OCA/fieldservice_skill"]
	path = extra-addons/OCA/fieldservice_skill
	url = https://github.com/HeliconiaIO/field-service.git
	branch = 18.0-mig-fieldservice_skill
[submodule "extra-addons/OCA/mail"]
	path = extra-addons/OCA/mail
	url = https://github.com/OCA/mail.git
[submodule "extra-addons/OCA/server-brand"]
	path = extra-addons/OCA/server-brand
	url = https://github.com/OCA/server-brand.git
[submodule "extra-addons/OCA/server-tool"]
	path = extra-addons/OCA/server-tool
	url = https://github.com/OCA/server-tools.git
